<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="../styles/history.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="../nav.css">
</head>

<body>

    <%- include('../nav_login') %>
    <div class="history-container">

        <!-- <div class="header">
            <button class="back-button"><a href="/homepage">←</a></button>
        </div> -->

        

        <div class="header-section">
            <div class="title-section">
                <h1 class="title">ยืนยันการลงจอง</h1>
            </div>
            <div class="search-container">
                <div class="search-box-wrapper">
                    <input type="text" placeholder="search" class="search-input">
                </div>
            </div>
        </div>

        <div class="table-section">
            <div class="table-container">
                <table class="history-table">
                    <thead>
                        <tr>
                            <th>ผู้เข้ารับบริการ</th>
                            <th>สถานะ</th>
                            <th>ผู้ให้บริการ</th>
                            <th>วันที่ได้รับบริการ</th>
                            <th>บริการ</th>
                            <th>ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% appointments.forEach(appointment=> { %>
                            <tr>
                                <td>
                                    <%= appointment.customer_name %>
                                </td>
                                <td>
                                    <%= appointment.appointment_status %>
                                </td>
                                <td>
                                    <%= appointment.provider_name %>
                                </td>
                                <td>
                                    <%= appointment.date %>
                                </td>
                                <td>
                                    <%= appointment.service_name %>
                                </td>
                                <td>
                                    <div class="option-container">
                                        <button class="confirm_appointment_button" value="<%= appointment.id %>" onclick="confirm_appointment(this.value)">ยืนยันการลงจอง</button>
                                        <button class="denied_appointment_button" value="<%= appointment.id %>" onclick="denied_appointment(this.value)">ยกเลิกการลงจอง</button>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.querySelector('.search-input');
            const table = document.querySelector('.history-table tbody');
            const rows = table.getElementsByTagName('tr');

            searchInput.addEventListener('input', function () {
                const query = searchInput.value.toLowerCase();
                Array.from(rows).forEach(row => {
                    const serviceCell = row.cells[0];
                    const serviceName = serviceCell.textContent.toLowerCase();
                    row.style.display = serviceName.includes(query) ? '' : 'none';
                });
            });
        });

        function confirm_appointment(id){
            fetch("appointment/confirm", {method: "POST",
            headers: {
            'Content-Type': 'application/json'},
            body: JSON.stringify({appointment_id: id})}).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
            }).catch(error => console.error("Error:", error));
        }
        function denied_appointment(id){
            fetch("appointment/denied", {method: "POST",
            headers: {
            'Content-Type': 'application/json'},
            body: JSON.stringify({appointment_id: id})}).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
            }).catch(error => console.error("Error:", error));
        }
    </script>
</body>


</html>